#container {
	position: relative;
	margin-top: 20px;
	width: 100%;
	margin-left: $sidebar-width;
	overflow: hidden;
}

#main {
	position: absolute;
	top: 0;
	left: 200px;
	// right: 200px;
	background: #ccc;
}
.tag-wrap {
	position: absolute;
	top: 0;
	right: 0;
	width: $sidebar-width;
	height: 300px;
	background: $background;
}