$background: #563d7c;
$border-color: #463265;
$sidebar-width: 200px;
$xl-width: 100em 12;
$l-width: 80em 12;
$md-width: 60em 12;
$tablet: 48em 12;
$phone: 30em 12;

html,body {
	background: lighten($background, 50%);
}

ul,li { 
	list-style: none; 
	margin: 0;
	padding: 0;
}
input {
	border: 0;
}

.wrapper {
	@include at-breakpoint($xl-width) {
		max-width: 1920px;
	}
	margin: 0 auto;
}

#header {
	z-index: 1;
	&.bs-custom-nav {
		background: $background;
		border-color: $border-color;
		// margin-left: $sidebar-width;
		margin: 0 auto;
	}
	.navbar-brand {
		color: #fff;
		opacity: 0.9;
		position: absolute;
		left: 50%;
		margin-left: -69px;
		@include at-breakpoint($tablet) {
			position: static;
			margin-left: $sidebar-width;
		}
	}
	.github-login {
		float: right;
		margin: 0.5em;
		margin-right: 50px;
		position: relative;
		@include at-breakpoint($tablet) {
			width: 154px;
			height: 34px;
			> i {
				position: absolute;
				left: 12px;
				top: 9px;
			}
			&:after {
				content: '使用 Github 登入';
				position: absolute;
				top: 6px;
				right: 9px;
			}
		}
		@include at-breakpoint($md-width) {
			margin-right: 8px;
		}
	}
}

